.signup-page-bg {
  display: none;
}
.signup-page-overlay {
  display: none;
}
.signup-wrapper {
  width: 100vw;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
@media screen and (min-width: 960px) {
  .signup-page-bg {
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url("/assets/images/signupPage.jpg") center center;
    background-size: cover;
  }
  .signup-page-overlay {
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #1d1d1d;
    opacity: 0.2;
  }
  .signup-container {
    /* padding: 0 1em; */
    position: relative;
  }
}
