.signup-page-bg {
  display: none;
}
.signup-page-overlay {
  display: none;
}
.signup-container {
  position: relative;
  margin-top: 0;
  z-index: 3;
  height: 100%;
}
@media screen and (min-width: 960px) {
  .signup-page-bg {
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url("/assets/images/signupPage.jpg") center center;
    background-size: cover;
    z-index: 1;
  }
  .signup-page-overlay {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  .signup-container {
    margin-top: 2rem;
    padding: 0 1em;
  }
  .signup-box {
  }
}
