.book-details-container {
  margin-top: 0;
}
.book-top-row {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-img {
  height: 120px;
}
.where-to-find {
}
.popup-book-details {
  margin: 1em 0;
}
.book-title {
}
.book-description {
  margin-top: 0.5em;
}
.borrow-button {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  border-radius: 0;
}
.borrow-button Button {
  border-radius: 0;
}
.close-btn i {
  color: #555;
  font-size: 1.2rem;
}
