.search-container {
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: #008cff;
}
.search-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-field {
  background: #204c7d;
  border-radius: 5px;
}
.search-text {
  color: #eaeaea;
}
