.login-page-bg {
  display: none;
}
.login-wrapper {
  width: 100vw;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.logo-img {
  width: 4rem;
  height: 4rem;
}

@media screen and (min-width: 960px) {
  .login-page-bg {
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: url("/assets/images/loginPage.jpg") center center;
    background-size: cover;
    filter: blur(1px);
  }
  .login-container {
    position: relative;
  }
}
