.forgot-page-bg {
  display: none;
}
.forgot-password-container {
  position: relative;
  margin-top: 2rem;
  z-index: 3;
}

@media screen and (min-width: 960px) {
  .forgot-page-bg {
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url("/assets/images/bg.jpg") center center;
    background-size: cover;
    filter: blur(1px);
    z-index: 1;
  }
  .forgot-password-container {
    margin-top: 4rem;
  }
}
