.App {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
}
.app-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    circle,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100%
  );
}
.link-tag {
  text-decoration: none;
}
.home-page {
  width: 100vw;
}
@media screen and (min-width: 960px) {
  .home-page {
    width: 100vw;
  }
}
