.book-content {
  max-height: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em;
}
.book-img {
  max-width: 100px;
  height: 120px;
  border-radius: 0 5px 5px 0;
  box-shadow: 4px 2px 5px rgba(46, 46, 46, 0.506),
    8px 4px 10px rgba(46, 46, 46, 0.308);
}
.book-img img {
  width: 100%;
  max-height: 100%;
}
.book-actions {
  margin-bottom: 0px;
  height: 60px;
}
